@import url('./reset.css');
@import url('./fonts.css');

body {
    font-family: 'Montserrat', sans-serif;

    font-size: 20px;
    font-weight: 400;

    color: black;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 60px;
    text-transform: uppercase;
}

.container__wrapper {
    margin: 0 30px;
}

.container {
    max-width: 1240px;
    width: 100%;
    
    margin: 0 auto;
}

.custom-btn {
    padding: 0 30px;

    height: 60px;
    width: fit-content;

    background: #7AE5FD;
    border-radius: 30px;
    border: none;

    font-size: 18px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-decoration: none;
    color: black;

    cursor: pointer;
}

header {
    position: relative;
    background: #F1FDFF;
}

.header__front-img {
    position: absolute;

    right: 0;
    top: 0;

    display: block;
    height: 100%;
    width: auto;

    z-index: 3;
}

.header__back-img {
    position: absolute;

    right: 0;
    top: 0;

    height: 110%;
    width: auto;

    display: block;
    z-index: 1;
}

.header-logo {
    width: 65px;
}

.header-top {
    position: relative;

    display: flex;
    justify-content: space-between;

    padding-top: 63px;

    z-index: 4;
}

.header-nav {
    display: flex;
}

.header-list {
    display: flex;
    padding: 0;
}

.header-list li {
    display: flex;
    align-items: center;
    margin-right: 56px;
}

.header-list li:last-child {
    margin-right: 0px;
}

.header-list li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.header-offer {
    position: relative;

    margin-top: 72px;
    z-index: 2;
}

.header-offer h1 {
    width: 700px;

    font-weight: 800;
    font-size: 93px;

    color: #9AD2DE;
    text-transform: uppercase;
}

.header-offer p {
    width: 480px;

    margin-top: 64px;
    padding-bottom: 153px;

    line-height: 120%;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 143px;
    margin-bottom: 50px;
}

.program-offer {
    text-align: center;
    margin-bottom: 72px;
}

.program-offer h2 {
    margin-bottom: 10px;
}

.program-offer p:first-of-type {
    font-size: 27px;
    margin-bottom: 20px;
}

.program-offer p:last-of-type {
    line-height: 24px;
    color: #73A6B1;

    width: 600px;
    margin: 0 auto;
}

.program-list {
    margin-bottom: 60px;
}

.program-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #F1FDFF;
    border-radius: 10px;

    padding: 40px 40px 70px;
    margin-bottom: 30px;
}

.program-list__item:last-child {
    margin-bottom: 0px;
}

.program-list__item__left-column {
    margin-right: 20px;
    max-width: 45%;
}

.program-list__item-offer {
    margin-bottom: 45px;
}

.program-list__item-offer h3 {
    font-size: 46px;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.program-list__item-schedule__event {
    margin-bottom: 50px;
}

.program-list__item-schedule__event:last-child {
    margin-bottom: 0px;
}

.program-list__item-schedule__event h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.program-list__item-schedule__event p {
    font-size: 16px;
    color: #3D8C9D;
}

.program-list__item img {
    max-width: 100%;
    height: auto;

    border-radius: 10px;
}

.gift {
    position: relative;
    margin-bottom: 70px;

    height: 740px;
}

.gift-background {
    position: relative;

    left: 0;
    top: 0;

    max-width: 100%;
    height: 100%;

    z-index: 1;
}

.gift-content {
    position: absolute;

    top: 270px;
    width: 100%;

    padding: 90px 0;
    background: #F2FEFF;
    border-radius: 10px;

    z-index: 2;
}

.gift-content p {
    font-size: 28px;
    line-height: 33px;
    width: 400px;

    padding-left: 40px;
}

.gift-t-shirt-img {
    position: absolute;

    top: 190px;
    right: 10%;

    z-index: 3;
}

.gift-flag-img {
    position: absolute;

    top: 280px;
    right: 8%;

    z-index: 4;
}

.how-to-get {
    display: flex;
    flex-direction: column;
    align-items: center;    

    width: 740px;
    max-width: 100%;

    margin: 0 auto;

    text-align: center;
}

.how-to-get__offer {
    margin-bottom: 76px;
}

.how-to-get__offer h2 {
    margin-bottom: 20px;
}

.how-to-get__offer p {
    line-height: 24px;
    color: #73A6B1;
}

.how-to-get__offering {
    margin-bottom: 68px;
}

.how-to-get__offering-goal {
    font-size: 27px;
    margin-bottom: 24px;
}

.how-to-get__offering-collected {
    font-size: 60px;
    letter-spacing: -0.02em;
}

.how-to-get__offering-collected span {
    color: #9AD2DE;
}

footer {
    position: relative;

    margin-top: 150px;
    background: #F9FADF;

    padding-bottom: 120px;
}

.footer__wrapper {
    position: relative;
    z-index: 2;
}

.footer__background-img {
    position: absolute;

    top: -5%;
    left: 0;

    z-index: 1;
}

.contacts {
    display: flex;

    padding-top: 60px;
    margin-bottom: 100px;
}

.contacts__title {
    width: 50%;
    margin-right: 30px;
}

.contacts__column {
    max-width: 440px;
}

.contacts__column-phone {
    margin-bottom: 56px;
}

.contacts__column-phone img {
    margin-bottom: 10px;
}

.contacts__column-phone p {
    line-height: 24px;
}

.contacts__column-phone p span {
    font-weight: 800;
}

.contacts__column-social__icons {
    margin-bottom: 4px;
}

.contacts__column-social__telegram-img {
    margin-right: 16px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;

    border-radius: 10px;
    background: white;

    height: 500px;

    padding: 0px 100px 0 40px;
}

.form {
    max-width: 45%;
    margin: auto 0px;
}

.form__email-img__wrapper {
    max-width: 45%;
}

.form__email-img {
    max-width: 100%;
    height: auto;

    padding-top: 40px;
}

.form__title {
    font-size: 27px;
    line-height: 32px;

    margin-bottom: 40px;
}

.form__fields {
    display: flex;
    flex-direction: column;
}

.form__fields__field {
    padding: 20px 0px 20px 40px;
    background: #F9FADF;

    border-radius: 50vh;
    border: none;

    margin-bottom: 30px;
}