@media screen and (max-width: 1400px) {
    .header {
        &__front-img {
            z-index: 2;
        }
    }
}

@media screen and (max-width: 1100px) {
    .header {
        &__front-img {
            content: url('../assets/img/small-shot-woman-holding-ukranian-flag.png');
        }
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 3.125rem;
    }

    .header {
        height: 100vh;

        &__front-img { 
            top: auto;   
            bottom: 0;
        
            height: auto;
            width: 100%;
        }

        &-nav {
            display: none;
        }

        &-menu {
            display: block;
        }

        &-offer {    
            &__title {
                width: 100%;
                font-size: 4rem;
            }

            &__subtitle {
                margin-top: 32px;
                padding-bottom: 0px;
            }
        }
    }

    .program {
        &-offer {
            text-align: start;

            &__body {    
                width: 100%;
            }
        }

        &-list {
            &__item {
                padding: 0;
                flex-direction: column-reverse;

                &__left-column {
                    margin-right: 0px;
                    padding: 40px 15px 70px;
                    max-width: 100%;
                }

                &__img {
                    width: 100%;

                    &-wrapper {
                        width: 100%;
                    }
                }
            }
        }

        &-btn {
            display: none;
        }
    }

    .gift {
        height: auto;

        &-background {
            display: none;
        }

        &-content {
            position: relative;
            top: 0;

            padding: 280px 15px 40px;
            margin-top: 220px;

            box-sizing: border-box;

            &__body {
                max-width: 100%;
                width: auto;

                padding: 0;
            }
        }

        &__t-shirt-img {
            top: -50%;

            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }
    
        &__flag-img {
            top: -25%;
            right: 10%;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &-offer {    
            &__title {
                font-size: 3.125rem;
            }
        }
    }

    .gift {    
        &__flag-img {
            right: 5%;
        }
    }
}